body {
margin: 0;
padding: 0;
background-color: #ffa81d;
display: flex;
height: 100vh;
font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffa81d;
}

.home-btn {
    width: 40px;
    height: 40px;
    background-color: #fff6e8;
    color: white;
    margin-top: 1rem;
    border: none;
    border-radius: 10%;
    padding: 8px 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
  .home-btn:hover {
    background-color: #723613;
  }

  
.title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 0.9rem;
    color: #fff6e8;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.button-row {
    display: flex;
    gap: 0.3rem;
}

.button-row button {
    position: relative;
    padding: 12px 24px;
    font-size: 1rem;
    background-color: #723613;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
}

.button-row button.active {
    background-color: #fff6e8;
    color: white;
    height: 60px;
}

.label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정확히 가운데 고정 */
    color: #ffa81d;
    font-size: 1rem;
    font-weight: bold;
    pointer-events: none;
  }

.responsive-box {
    position: relative;
    top: -30px;
    padding: 1.5rem;
    width: 100%;   
    flex-grow: 1;               
    background-color: #fff6e8;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.inner-card {
    background-color: #FCE7C1;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
  }